@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Source+Serif+Pro:wght@400;600&display=swap');
html {
 margin:0;
 padding:0
}
body {
 margin:0;
 padding:0;
 color:hsl(0,0,80%);
 line-height:1.4;
 font-size:18px;
 font-family:'Source Serif Pro',serif;
 text-rendering:optimizeLegibility
}
a,
a:visited {
 color:#900;
 text-decoration:none
}
a:hover {
 text-decoration:underline
}
article {
 padding:20px 20px
}
code {
 background-color:rgba(0,0,0,0.04);
 font-size:14px;
 font-family:'Fira Code',monospace;
 padding:1px 3px
}
pre>code {
 background-color:transparent;
 padding:0
}
code .kw {
 font-weight:600
}
pre {
 font-size:14px;
 line-height:1.4;
 padding:8px 12px;
 border-radius:1px;
 background-color:rgba(0,0,0,0.04);
 font-family:'Fira Code',monospace;
 margin-top:31px;
 margin-bottom:31px;
 margin-left: -20px;
 margin-right: -20px;
 overflow-x: auto;
}
hr {
 border:none;
 text-align:center;
 margin-top:-20px
}
hr::before {
 content:'...';
 font-size:40px;
 color:rgba(0,0,0,0.4);
 text-align:center;
 letter-spacing:10px
}
h1 {
 font-size:30px
}
h2 {
 font-size:25px
}
h3 {
 font-size:22px
}
h1,
h2,
h3 {
 margin-top:60px;
 margin-bottom:0
}
h1:first-child {
 margin-top:0px
}
h2+p,h2+p,h3+p { margin-top: 5px;}
p {
 margin-top:23px;
 margin-bottom:23px
}
article hr+p:first-letter {
  -webkit-initial-letter: 2;
  initial-letter: 2;
  font-family:Georgia,serif;
}
@media (min-width:400px) {

  article {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }

  code, pre {
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
  }

h1 {
 font-size:35px
}
h2 {
 font-size:32px
}
h3 {
 font-size:28px
}
body {
  font-size: 21px;
}

}
